{% load static %}
<!DOCTYPE html>
<html>
<head>

    <link rel= "stylesheet" type = "text/css" href = "{% static 'css/main.css' %}"> 
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d609e95daf.js" crossorigin="anonymous"></script>
    {% if title %}
    <title> Jonathan Zhou - {{ title }}</title>
    {% else %}
    <title>Jonathan Zhou</title>
    {% endif %}
        
</head>
<body>
<header> 
        <nav>
            <ul>
                <li><a href = "{% url 'main_home' %}" >Home</a></li>
                <li><a href = "{% url 'main_about' %}" id ="about" >About</a></li>
                <li><a href = "{% url 'skills_projects' %}" >Skills/Projects</a></li>
            </ul>
        </nav>
</header>






      {% block content%} {% endblock content%}
    


</body>
</html>