*{
    font-family: 'Work Sans', sans-serif;
    box-sizing:border-box;
}
h1{
    text-align:center;
}
h4{
    margin-left:2%;
}

.left-section{
    background-color: #DEF2F1;
    width: 50%;
}

.right-section{
    background-color: rgb(201, 247, 244);
    width:50%;
}
ul li{
    width:75%;
    
}



/* flex */

.container{
    display:flex;
}